<div id="<%= dom_id job %>">

Aide ménager / aide ménagère (h/f)

Centre Services - Cayenne
← Retour aux offres

  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= job.city_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job.company_id %>
  </p>

  <p>
    <strong>Salaire:</strong>
    <%= job.salaire %>
  </p>

  <p>
    <strong>Contrat:</strong>
    <%= job.contrat_id %>
  </p>

  <p>
    <strong>Apply link:</strong>
    <%= job.apply_link %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= job.source %>
  </p>


Type de contrat
    CDD
Salaire
    12.02
Publié le
    26/01/2026
Source
    Partenaire 
Description
    Centre Services est l’une des entreprises leaders sur le marché des services à la personne et ce, depuis plus de 15 ans. Nous possédons des agences partout en France et pour renforcer les effectifs de Cayenne, nous sommes à la recherche d’un(e) Aide ménager/Aide ménagère.

    Le poste :

    Au quotidien, vous vous déplacerez à 97300 Cayenne, mais aussi dans les communes alentours, pour y effectuer des prestations de ménage et/ou repassage à domicile. Vos horaires de travail pourront varier selon le nombre de vos clients et d'éventuels remplacements.

    Rémunération : 12.02.
    Contrat : temps partiel (possibilité d’évolution en temps-plein) de 14h hebdomadaire + une mutuelle, le remboursement des frais kilométriques et les congés payés.

    Votre planning sera à définir avec Cayenne afin qu’il puisse correspondre à vos obligations personnelles.

    Le recrutement :

    Nous prendrons le temps d’échanger avec vous par téléphone concernant vos compétences et expériences professionnelles comme Aide ménager/Aide ménagère. Vous viendrez ensuite sur site pour : un test de mise en situation, un questionnaire et deux entretiens. Vos débuts se feront sous la houlette d'une personnes expérimenté qui favorisera votre adaptation.

    Le profil souhaité :

    Nous recherchons une personne rigoureuse, attentive aux détails, organisée, autonome et motivée. Le sourire à toute épreuve est un plus !

    Si vous cherchez un emploi près de chez vous, tout en pouvant bénéficier d’un emploi du temps modulable, alors n’hésitez pas à nous faire parvenir votre candidature !

    Nous reviendrons vers vous après l’avoir étudié avec la plus grande attention.

    Avantages :

    - Mutuelle

    Compétences : Dépoussiérer les sols, les tapis, les meubles, les objets et aérer, désodoriser les pièces, Entretenir du mobilier, Entretenir une surface, un sol, Informer la personne des anomalies constatées sur les mobiliers, les appareils et éventuellement y remédier, Laver des vitres, Caractéristiques des produits d'entretien, Procédures de nettoyage et de désinfection, Produits de nettoyage, Règles d'hygiène et de propreté, Permis B.

Postuler maintenant


</div>
